body {
    background-color: black;
    text-align: center;
}

.Header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    margin-bottom: 2%;
}

.Download {
    color: aquamarine;
    font-size: 16px;
    margin-bottom: 2%;
}

.personalComingSoon {
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: white;
    margin-bottom: 2%;
}

#belowPersonal {
    color:gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    margin-bottom: 2%;
}

#copyright {
    color:gray;
    text-align: right;
}

video {
    margin-bottom: 2%;
}

.imgs {
    margin-bottom: 2%;
}